<ul>
    <li>
        <a href="{{ path('pooble_new') }}">Create</a>
    </li>
    <li>
        <a href="{{ path('pooble_new_configure') }}">Configure</a>
    </li>
    <li>
        <a href="">End</a>
    </li>
</ul>
