{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Created{% endblock %}

{% block body %}
    {% include 'PoobleBundle:WizardSurvey:breadcrumb.html.twig' %}

    <h1>Pooble created !</h1>

    {{ id }}
{% endblock %}
