<ul>
    <li>
        <a href="{{ path('home') }}">home</a>
    </li>
    <li>
        <a href="{{ path('pooble_new') }}">new</a>
    </li>
    <li>
        <a href="{{ path('hello', {'name': 'toto'}) }}">hello</a>
    </li>
</ul>
